<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.opsautoagent.infrastructure.dao.IOpsAuditLogDao">

    <insert id="insert" parameterType="com.opsautoagent.infrastructure.dao.po.OpsAuditLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ops_audit_log (
            audit_id, session_id, diagnosis_id, operator_id, client_ip, action, resource,
            request_json, result, reason, create_time
        ) VALUES (
            #{auditId}, #{sessionId}, #{diagnosisId}, #{operatorId}, #{clientIp}, #{action}, #{resource},
            #{requestJson}, #{result}, #{reason}, #{createTime}
        )
    </insert>

</mapper>

